[Unit]
Description=Tkap Server

[Service]

WorkingDirectory=/var/lib/tkap/install

EnvironmentFile=/var/lib/tkap/install/install.env

ExecStart=/var/lib/tkap/install/bin/twistd \
    --nodaemon \
    --pidfile= \
    --syslog \
    --python=server.tac

Restart=always

[Install]
WantedBy=multi-user.target